.board {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }
  
  .cell {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    transition: 0.7s;
  }
  .cell:hover{
    border: 1.5px solid red;
    background-color: rgb(238, 202, 202);
    cursor: crosshair;
  }
  
  .empty {
    background-color: white;
  }
  
  .ship {
    background-color: gray;
  }
  
  .hit {
    background-color: red;
  }
  
  .miss {
    background-color: blue;
  }
  